/* 
    Document   : default
    Created on : 21/08/2014, 12:49:14 AM
    Author     : ideacentre
    Description:
        Purpose of the stylesheet follows.
*/
.badge-notify{
    background-color:red;
    position:absolute;
   top: -1%;
   left: -1%;
}

.ui-spinner-input{
    width:90%;
}
body{
    font-size: 14px!important;
    line-height: 1.42857!important;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif!important;
}

.ui-icon-closethick{
    background-color: white;
}

.ui-widget-overlay{
    background: #a6a6a6 url(images/ui-bg_dots-small_65_a6a6a6_2x2.png) 50% 50% repeat!important;
    opacity: 1!important;
}

#menuslide { 
    border: 1px solid #e3a1a1;
    background: #BE2C2C!important;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header{
    border: 1px solid #CE6B0F;
    background: #CE6B0F!important;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header .ui-state-active{

    color: #CE6B0F!important;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #FFF!important;
}

.navbar-background{
    background-color: #444343;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.navbar-text{
    color: #DEDEDE;
}

label{padding-left:20px;}

.btn{margin:10px;}

.panel-bodyindex .btn:not(.btn-block) { width:250px!important; }

.panel-primary {
    border-color: #DEDEDE!important;
}

.panel-primary .panel-heading {
    color: #DEDEDE!important;
    background-color: #444343!important;
    border-color: #DEDEDE!important;
}

.panel-primary .panel-footer{
    color: #DEDEDE!important;
    background-color: #444343!important;
    border-color: #DEDEDE!important;

}

.btn-primary {
    color: #FFF;
    background-color: #CE6B0F!important;
    border-color: #CE6B0F!important;
    margin: 5px!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #8F4A09!important;
    border-color: #8F4A09!important;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.btn-peque{
    
    color:white!important;
    width: 120px;
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.navbar-text:hover {

    color: #CE6B0F!important;
}
a:focus{

    color: #CE6B0F!important;
}
.navbar-text-selected {
    color: #CE6B0F!important;
    text-decoration: none;
    background-color: #EEE;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
}
.dropdown-selected {
    text-decoration: none;
    background-color: #EEE;
    color: #E22620;
}
.form-control {
    margin-bottom: 10px;
}

.control-label {
    margin-bottom: 10px;
}

.secondaryImage {
    width: 150px;
}

.LogoImage{
    width: 100%;
}
.evImage{
    width: 350px;
}

.titulo{
    color: #CE6B0F!important;
}

.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_CE6B0F_256x240.png)!important;
}

.ui-icon{
    background-image: url(images/ui-icons_CE6B0F_256x240.png)!important;
}

.ui-messages-info-icon{
    background: url('images/1411527736_accepted_48.png')no-repeat !important;
    background-size: 100% !important;
}

.ui-messages-info{
    color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}

.hasDatepicker{
    width: 100%!important;
}

.ui-picklist-item td{
    text-align: left;

}

hr {
width: 80%;
margin-left: auto;
margin-right: auto;
height: 10px;
}

.pricing-table {
    max-width: 80%;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.panel-heading-landing {
    background: #f7f7f7 !important; 
    padding: 20px !important; 
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important; 
    border: solid 2px #5CB85C !important; 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: #CE6B0F !important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #CE6B0F !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #626367 !important;
    font-size: 25px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 2px #ccc !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    border: solid 2px #ccc !important; 
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    border-top: none !important;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
    
    .src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #f57a00;
  color: #FFFFFF;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}
